#wrapper {
    justify-content: center;
    margin: 2.35rem 0 0;
    display: flex;
}

.site-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}

.custom-form {
    position: relative;
    width: 400px;
    margin: 0 auto;
}